.vagrant
boxes.yaml

src/home/.config/personal/*
!src/home/.config/personal/README.md
!src/home/.config/personal/*.example

src/private

src/provisioners/etc/defaults/*extra.txt
src/home/.config/gtk-3.0/bookmarks
